@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/static/backgrounds/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header li, header a, header button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 1%;
    width: 100vw;
    height: 45px;
    background-color: rgba(36, 37, 42, 0.8);
}

header:hover {
    background-color: rgba(37, 42, 36, 0.9);
    transition: 0.5s;
}

header .logo {
    cursor: pointer;
    margin-right: auto;
}

header .nav_links {
    list-style: none;
}

header .nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

header .nav_links li a {
    transition: all 0.3s ease 0s;
}

header .nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: #0088a9;
}

header button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

header .logout {
    display: flex;
    margin: 10px;
}

header .logout i {
    position: relative;
    left: 22px;
    top: 2px;
}

header .logout button {
    padding: 9px 25px
}


