{% extends "layout.html" %}

{% block head %}

    <link rel="stylesheet" href="/static/css/check.css">
    <title>Check</title>

{% endblock %}


{% block body %}

    <main>
            
        <div id="date_bar">
            <form action="/check_date" method="post">
                <label for="date">Select the date: </label>
                <input id="date" type="date" name="date">
                <button type="submit" id="check_btn"> Check </button>
            </form>
        </div>
        
        <div id="data_table">
            <table>
                <caption>Attendance Report of {{ date }}</caption>
                <thead>
                    <tr>
                        <th scope="column">Id</th>
                        <th scope="column">First Name</th>
                        <th scope="column">Last Name</th>
                        <th scope="column">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in attendance %}

                        <tr>
                            <td> {{ row.student_id }} </td>
                            <td> {{ row.f_name }} </td>
                            <td> {{ row.l_name }} </td>
                            <td> {{ row.time }} </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
    </div>

    </main> 
{% endblock %}   