{% extends "layout.html" %}

{% block head %}

<link rel="stylesheet" href="/static/css/home.css">
<title>Home</title>

{% endblock %}


{% block body %}

<main>
    <div class="main-container">
        <div class="main-box">
            <div class="home-btton">
                <a href="mark">Mark Attendance</a>
            </div>

            <div class="home-btton">
                <a href="check">Check Attendance</a>
            </div>

            <div class="home-btton">
                <a href="add">Add a Student</a>
            </div>
        </div>
    </div>
</main>

{% endblock %}